[Unit]
Description=Obtain Let's Encrypt certificates for tuturu
Documentation=https://github.com/lobziik/tuturu
After=tuturu-init.service network-online.target
Wants=network-online.target
Before=tuturu-nginx.service tuturu-coturn.service
Requires=tuturu-init.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tuturu-certbot.sh
RemainAfterExit=yes

StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
