[Unit]
Description=Obtain Let's Encrypt certificates for tuturu
Documentation=https://github.com/user/tuturu
After=tuturu-init.service network-online.target
Wants=network-online.target
Before=tuturu-nginx.service tuturu-coturn.service
Requires=tuturu-init.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tuturu-certbot.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
